# 2. Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings 
warnings.filterwarnings('ignore')

# 2.1 Pandas Series

In [3]:
'''Series can have index names while numpy arrays use numeric'''
reg_python_list = [1,2,3,4,5]

x = pd.Series(reg_python_list, index = ['Entry 1', 'Entry 2', 'Entry 3', 'Entry 4', 'Entry 5'])
x

Entry 1    1
Entry 2    2
Entry 3    3
Entry 4    4
Entry 5    5
dtype: int64

In [5]:
y = np.array(reg_python_list)
y

array([1, 2, 3, 4, 5])

In [6]:
print type(x == y)
x == y

<class 'pandas.core.series.Series'>

Entry 1    True
Entry 2    True
Entry 3    True
Entry 4    True
Entry 5    True
dtype: bool

In [7]:
x['Entry 2']

2

Lets just skip this whole thing and say its pretty much a labeled numpy array for pandas. Also because it is a 1-D DataFrame and share many of the methods of DataFrames, which is what we will be talking about next.

# 2.2 Pandas DataFrame

Numpy is great and all, but it lacks when we want to do statistical analysis.  
It is built on top of Numpy and therefore adds a few features:  
- Labeled Arrays.
- Heterogenous data types within a table.
- Missing data handling is easier.
- Convenient methods (ex. groupby)
- New datatypes (ex. Datetime)

### 2.2.1 Creating DataFrames

In [8]:
series1 = pd.Series([1,2,3,4,5])
series2 = pd.Series([6,7,8,9,10])
series3 = pd.Series([11,12,13,14,15])

In [9]:
'''When specifying columns, it won't give you what you expect. Better to rename after'''
df = pd.DataFrame([series1, series2, series3], columns = ['col1', 'col2', 'col3', 'col4', 'col5'])
df

   col1  col2  col3  col4  col5
0   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN

In [10]:
'''A list of series, arrays or regular python lists will work (not need to be same length) (CANNOT MIX)'''
df = pd.DataFrame([[1,2,3,4,5], [6,7,8,9,10], [11,12,13,14,15,16]])
df = df.rename(columns = {0:'col1',1:'col2',2:'col3',3:'col4',4:'col5'})
df

   col1  col2  col3  col4  col5     5
0     1     2     3     4     5   NaN
1     6     7     8     9    10   NaN
2    11    12    13    14    15  16.0

In [11]:
df.columns

Index([u'col1', u'col2', u'col3', u'col4', u'col5', 5], dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
'''A dictionary of names and series, arrays, or python lists of same length will work (CAN MIX)'''
df = pd.DataFrame({'col1' : series1, 'col2' : series2, 'col3' : [11,12,13,14,15]})
df

   col1  col2  col3
0     1     6    11
1     2     7    12
2     3     8    13
3     4     9    14
4     5    10    15

### 2.2.2 Querying DataFrames (.loc and .iloc)

In [13]:
'''Querying by the index location.
   NOTE: returns a Series with the column names as indicies.'''
df.iloc[1]

col1     2
col2     7
col3    12
Name: 1, dtype: int64

In [14]:
'''Querying by the index value.
   NOTE: returns a Series with the column names as indicies.'''
df.loc[1]

col1     2
col2     7
col3    12
Name: 1, dtype: int64

In [16]:
df['new_index'] = pd.Series([1,2,3,4,5])
df = df.reset_index().drop('index',axis = 1).set_index('new_index')
df

           col1  col2  col3
new_index
1             1     6    11
2             2     7    12
3             3     8    13
4             4     9    14
5             5    10    15

In [17]:
df.iloc[1]

col1     2
col2     7
col3    12
Name: 2, dtype: int64

In [18]:
df.loc[1]

col1     1
col2     6
col3    11
Name: 1, dtype: int64

In [19]:
'''Slicing works as you would slice in regular Python
   NOTE: returns a DataFrame.'''
df.iloc[1:2]

           col1  col2  col3
new_index
2             2     7    12

In [20]:
'''Slicings gets all the values, even the last one.
   NOTE: returns a DataFrame.'''
df.loc[1:2]

           col1  col2  col3
new_index
1             1     6    11
2             2     7    12

In [21]:
'''Then you can get crazy with it by combining row and column labeling'''
df.loc[1:2, ['col1', 'col2']]

           col1  col2
new_index
1             1     6
2             2     7

In [22]:
df.iloc[0:2, 0:2]

           col1  col2
new_index
1             1     6
2             2     7

I think this section requires a summary:  
- [ ] to select particular column(s) (pass list if multiple)
- .loc[row_labels, columns_labels] for label indexing.
- .iloc[row_position, column_position] for positional indexing.

### 2.2.3 Querying DataFrames (Boolean)

In [23]:
df[df['col1'] > 3]

           col1  col2  col3
new_index
4             4     9    14
5             5    10    15

In [24]:
df[3 < df['col1']]

           col1  col2  col3
new_index
4             4     9    14
5             5    10    15

In [25]:
df[df['col1'] >= 3]

           col1  col2  col3
new_index
3             3     8    13
4             4     9    14
5             5    10    15

In [26]:
df[df['col1'] == 3]

           col1  col2  col3
new_index
3             3     8    13

In [27]:
df[df['col1'] != 3]

           col1  col2  col3
new_index
1             1     6    11
2             2     7    12
4             4     9    14
5             5    10    15

### 2.2.4 Built in - Filling NaN values (Usually You Deal w/ Individuals by Yourself)

In [33]:
'''These following methods work for None types too'''
temp_df = pd.DataFrame({'Cooling Setpoint':['75°F',np.nan,np.nan,np.nan,np.nan,np.nan,'°77F'],
                        'Heating Setpoint':['65°F',67,np.nan,np.nan,np.nan,np.nan,'°67F']})
temp_df

  Cooling Setpoint Heating Setpoint
0             75°F             65°F
1              NaN               67
2              NaN              NaN
3              NaN              NaN
4              NaN              NaN
5              NaN              NaN
6             °77F             °67F

In [39]:
temp_df[['Heating Setpoint']].dropna()

  Heating Setpoint
0             65°F
1               67
6             °67F

In [26]:
'''Backfill values to fill missing values'''
temp_df['Cooling Setpoint'].fillna(method = 'bfill')

0    75°F
1    °77F
2    °77F
3    °77F
4    °77F
5    °77F
6    °77F
Name: Cooling Setpoint, dtype: object

In [29]:
'''Fowardfill values to fill missing values'''
temp_df['Heating Setpoint'].fillna(method = 'ffill')

0    65°F
1    65°F
2    65°F
3    65°F
4    65°F
5    65°F
6    °67F
Name: Heating Setpoint, dtype: object

In [40]:
'''Fowardfill values to fill missing values on entire dataframe'''
temp_df.fillna(method = 'ffill')

  Cooling Setpoint Heating Setpoint
0             75°F             65°F
1             75°F               67
2             75°F               67
3             75°F               67
4             75°F               67
5             75°F               67
6             °77F             °67F

In [41]:
'''Could specify a value and it will replace with that value.'''
temp_df.fillna(0)

  Cooling Setpoint Heating Setpoint
0             75°F             65°F
1                0               67
2                0                0
3                0                0
4                0                0
5                0                0
6             °77F             °67F

### 2.2.5 Combining DataFrames

In [43]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [45]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [31]:
'''Concat will add rows based on columns names without specification.'''
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [54]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[0, 1, 2, 3])

In [55]:
'''You can use concat with axis = 1 to concat side by side based on index'''
pd.concat([df1, df2], axis = 1)

    A   B   C   D   B   D   F
0  A0  B0  C0  D0  B2  D2  F2
1  A1  B1  C1  D1  B3  D3  F3
2  A2  B2  C2  D2  B6  D6  F6
3  A3  B3  C3  D3  B7  D7  F7

In [56]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                       index=['K0', 'K2', 'K3'])

In [57]:
'''Join also does things side by side based on index.'''
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [58]:
df1 = pd.DataFrame({'Patient ID' : [123, 456, 789],
                    'Patient Name' : ['Alfred', 'Beatrice', 'Catherine']},
                    index = [1,2,3])

df2 = pd.DataFrame({'Patient ID' : [234, 567, 891],
                    'Patient Name' : ['Dan', 'Ester', 'Fanny']},
                    index = [4,5,6])

df3 = pd.DataFrame({'Patient ID' : [123, 567, 891],
                    'Height' : [5.9, 5.6, 5.5], 
                    'Weight' : [170, 120, 115]})

In [61]:
df3

   Height  Patient ID  Weight
0     5.9         123     170
1     5.6         567     120
2     5.5         891     115

In [64]:
'''Append adds rows to the dataframe'''
df1.append(df2)

   Patient ID Patient Name
1         123       Alfred
2         456     Beatrice
3         789    Catherine
4         234          Dan
5         567        Ester
6         891        Fanny

In [66]:
'''Merge is special and can do many things.
   You can merge on index, column(s), and even merge left and right.
   You can implement set notation with how. (For those who know basic set theory and SQL.)
'''
pd.merge(df1, df3, how = 'left', right_on = ['Patient ID'], left_on = ['Patient ID'])

   Patient ID Patient Name  Height  Weight
0         123       Alfred     5.9   170.0
1         456     Beatrice     NaN     NaN
2         789    Catherine     NaN     NaN

### 2.2.6 Making output files of your data

In [67]:
table_of_patients = pd.merge(df1, df2, how = 'outer', right_on = ['Patient ID','Patient Name'], left_on = ['Patient ID','Patient Name'])

In [68]:
'''Making CSV files'''
table_of_patients.to_csv('create_data/Patient_Table.csv')

In [69]:
'''Making JSON files'''
table_of_patients.to_json('create_data/Patient_Table.json')

In [42]:
import pickle

'''Much like reading writing files in pandas, there are pickle files'''
pickle_out = open('create_data/new_file.pickle','wb') 
pickle.dump(table_of_patients,pickle_out)      
pickle_out.close()

pickle_in = open('create_data/new_file.pickle','rb')
pickled_file = pickle.load(pickle_in)
pickle_in.close()
pickled_file

   Patient ID Patient Name
0       123.0       Alfred
1       456.0     Beatrice
2       789.0    Catherine
3       234.0          Dan
4       567.0        Ester
5       891.0        Fanny

In [43]:
'''Pandas has pickling already'''
table_of_patients.to_pickle('create_data/Patient_Table.pickle')
dataframe = pd.read_pickle('create_data/Patient_Table.pickle')
dataframe

   Patient ID Patient Name
0       123.0       Alfred
1       456.0     Beatrice
2       789.0    Catherine
3       234.0          Dan
4       567.0        Ester
5       891.0        Fanny

# Summary

Pandas DataFrames:
- Built on top of numpy so try out numpy methods and operations.
- There are different ways to create DataFrames (also wrong ways)

Then there several ways to query:  
- [ ] to select particular column(s) (pass list if multiple)
- .loc[row_labels, columns_labels] for label indexing.
- .iloc[row_position, column_position] for positional indexing.
- Boolean.

Combining DataFrames:
- Merge
- Concat
- Join
- Append

Saving your updated data:
- Pickling
- to_csv, to_json, to_xml?